.maingrid {
    display:grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
}

.title2 {
    grid-area: 1/1;
    grid-column-end: span 2;
    margin-bottom: 30px;
    margin-top: 23px;
    font-weight: bold;
    font-style: italic;
    font-size: 35px;
    line-height: 1;
}

@media screen and (max-width: 1200px) {
   .sidegrid {
    display:none;
    width: 100vw;
   }
   .maingrid {
    grid-template-columns: 1fr;
   }
  }
  @media screen and (max-width: 1000px) {
    .grid {
        display:none;
    }
   }
.subgrid {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-right: 20px;
}

.sidegrid {
    grid-area: 1 / 2;
}
li {
    margin-bottom: 10px;
}
.video {
    grid-area: 2 / 2;
    margin-left: 10px;
    margin-bottom: 20px;
}

.article {
    grid-area: 2 / 1;
}

.uVideo {
    padding-left: 50px;
    grid-area: 3 / 2;
    border-top: 1px;


}
.border {
    display: grid;
    grid-area: 3/1;
    grid-column-end: span 2;
    padding-bottom: 30px;
    border-bottom: 1px;
    border-top: 1px;
    border-style: solid;
    border-color: gray blue black blue;
    margin-top: 10px;
    padding-top:10px;
}

.prospects {
    grid-area: 3 /1;
    border-top: 1px;


}

.random {
    font-weight: bold;
    border: 1px;
    border-color: grey;
    border-style: solid;
}

.Bsidegrid {
    display:grid;
    grid-template-columns: 2;
    grid-template-rows: auto;
    margin-top: 15px;
}

.bSideLeft {
    grid-area: 1/1;
}

.bSideRight {
    grid-area: 1/2;
}

.articlemain {
    list-style-type: disc;
}

.list {
    list-style-type: disc;
}

span {
    color: gray;
    font-size: 10px;
}
.author {
    margin-bottom: 5px;
    color: gray;
    font-size: 10px;
}

h1 {
    font-weight: bold;
    font-size: 16px;
}

.opinions {
    font-weight: bold;
    font-size: 20px;
    margin-top: 23px;
    margin-bottom: 5px;
}

.comments {
    color:blue;
    font-size: 10px;
    margin-top: 20px;
    padding-bottom: 15px;
    border-bottom: 1px;
    border-color: gray;
    border-style: solid;
}

h2 {
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 20px;
    margin-top: 5px;
}